.fonts {
    font-size: 25px;
    line-height: 2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-style: italic;
    
    letter-spacing: 2px;

    text-align: center;
    /* vertical-align: middle; */

    border: 5px solid red;
    border-width: 10px;
    border-bottom: 5px solid blue;
    border-radius: 20px;
}

.uppercase {
    text-transform: uppercase;
    color: blue;
    white-space: nowrap;
    word-spacing: 0.2px;
}

.decoration {
    text-decoration: solid underline red;
}

.link {
    text-decoration: none;
}